<script type="text/javascript">
    RED.nodes.registerType('fft',{
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"fft";
        }
    });
</script>

<script type="text/html" data-template-name="fft">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/html" data-help-name="fft">
    <p>A simple node that converts the message payloads into all lower-case characters</p>
</script>
